<mat-drawer-container class="full-page" autosize [hasBackdrop]="false">
  <mat-drawer #drawer class="side-nav w-[180px]" mode="side">
    <div class="flex flex-col h-full">
      <div class="p-4">
        <p class="text-lg font-semibold mb-4">Navigation</p>
        <nav class="space-y-2 cursor-pointer">
          <a routerLink="/" class="block p-2 rounded hover:bg-gray-200">
            Home 🏠
          </a>
          <a routerLink="/editor" class="block p-2 rounded hover:bg-gray-200">
            Editor 🏠
          </a>
          <a href="https://github.com" target="_blank" class="block p-2 rounded hover:bg-gray-200">
            GitHub Links 🐙
          </a>
        </nav>
      </div>
      <div class="mt-auto p-4 cursor-pointer">
        <a routerLink="/login" class="block p-2 rounded hover:bg-green-200">
          Login 🔑
        </a>
      </div>
    </div>
  </mat-drawer>
  
  <div class="p-4">
    <span class="material-symbols-outlined cursor-pointer" (click)="drawer.toggle()">menu</span>
    <router-outlet />
  </div>
</mat-drawer-container>